@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-text-color: black;
  --secondary-text-color: #51282A;

  --main-bg-color: white;
  --secondary-bg-color: #FAFAFA;

  --button-color: #173e33;
  --active-button-color: #276b58;
  --disabled-button-color: rgb(23, 62, 51, .32);

  --table-even-color: rgba(23, 62, 51, .32);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: var(--secondary-text-color);
}

h1 {
  color: var(--secondary-text-color);
  border-bottom: solid 1px var(--secondary-text-color);
  margin: 2rem 0;
}

h2 {
  font-size: 1.25rem;
  margin: 2rem 0;
}